* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: sans-serif;
  height: 90vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

h1 {
  margin: 30px;
  font-family: amiri;
  font-size: 2.3rem;
  color: rgb(0, 119, 255);
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  background-color: #74c5ebba;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description {
  margin: 20px;
  width: 500px;
  font-family: amiri;
  font-size: 1.2rem;
}
.description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo {
  width: 40%;
  border-radius: 10px;
}

#textArea {
  border: 1px solid black;
  margin: 15px;
  width: 300px;
  height: 50px;
  font-size: 0.9rem;
  padding: 8px;
}

#textArea:focus::placeholder {
  color: transparent;
}

#btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

#btn:hover {
  background-color: whitesmoke;
}

.icon-search {
  width: 100%;
  height: 100%;
}
.error {
  margin: 10px;
}

h2 {
  text-decoration: underline;
  margin-top: 30px;
  font-style: bold;
  font-family: "Times New Roman";
}
.summary {
  margin-bottom: 10px;
  font-size: 1.2rem;
  width: 80%;
  font-family: amiri;
}

.categories-grid {
  padding: 1rem;
  margin: 2rem 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}
.box-cat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-vote {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 10px;
  color: black;
}

.vote {
  color: white;
  border-radius: 100%;
  margin: 10px;
  margin-right: 30px;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
}

.full-bar {
  background-color: beige;
  height: 0.5rem;
  border-radius: 10px;
  margin: 20px;
}

.percent-bar {
  width: 50%;
  font-size: 1.5rem;
  height: 100%;
  border-radius: 10px;
}
.title-box {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.city-name {
  margin: 10px;
  font-size: 1.5rem;
}
.score-tot {
  color: white;
  border-radius: 100%;
  margin: 10px;
  margin-right: 30px;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
}
footer {
  margin-bottom: 10px;
}

@media screen and (min-width: 680px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1150px) {
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 890px) {
  .photo {
    width: 35%;
  }
  .description {
    margin: 10px;
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .description {
    margin: 10px;
    width: 95%;
  }
  h1 {
    line-height: 45px;
    font-size: 1.8rem;
  }
  .app {
    margin: 5px;
  }
  .box {
    width: 90%;
    flex-direction: column-reverse;
  }
  #btn {
    height: 35px;
    width: 35px;
  }
  #textArea {
    margin: 15px;
    width: 170px;
    height: 40px;
    font-size: 0.9rem;
  }
  .photo {
    width: 85%;
  }
  .summary {
    width: 90%;
  }
}
